# load dependencies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# load data

In [15]:
df = pd.read_csv("../data/customer_segmentation_data.csv")
dfs = pd.read_excel("../data/Segmentation data legend.xlsx")

In [3]:
dfc.head(4)

   minutes_watched     CLV  region  channel
0           3197.0  205.42       2        4
1             63.0  149.99       0        1
2            605.0  119.00       2        2
3             20.0  240.00       2        4

In [4]:
dfs.head(4)

,Unnamed: 0,Segmentation data - Legend,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,The dataset consists of student information of...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,Variable,Data type,Range,Description
3,NaN,minutes watched,numerical,Integer,The number of minutes a student has watched si...

# extracting metadata from segmentation data legend

- customer segmentation data have 4 columns
    1. minutes watched
    2. CLV
    3. region
    4. channel

### miutes watched 
- The number of minutes a student has watched since joining the program
- type: integer

### CLV
- total predicted revenue a business can expect from a single customer throughout their entire relationship with the company.
- It's a forward-looking metric that helps businesses understand long-term customer value to make strategic decisions about customer acquisition and retention
- type: integer

### Region
- This is the geographical region where the student comes from.
    - regions
        - `0` : USA , Canada ,Australia , UK
        - `1` : Western Europe
        - `2` : Rest of the world
 
### Channel
- This is the channel through which the customer has learned about the 365 program

|   number | channel   |
|-------------:|:-------------|
|            1 | Google       |
|            2 | Facebook     |
|            3 | YouTube      |
|            4 | LinkedIn     |
|            5 | Twitter      |
|            6 | Instagram    |
|            7 | Friend       |
|            8 | Other        |

---
# EDA

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3834 entries, 0 to 3833
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   minutes_watched  3725 non-null   float64
 1   CLV              3834 non-null   float64
 2   region           3834 non-null   int64
 3   channel          3834 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 119.9 KB

- we found that there is a column "minutes_watched" that have NaN values
- let's handle it

# Handling Nan values

In [22]:
df["minutes_watched"].isna().sum()

np.int64(109)

In [27]:
filt = df["minutes_watched"].isna()
df[filt]

      minutes_watched     CLV  region  channel
215               NaN  300.06       0        4
368               NaN   43.82       1        3
470               NaN  150.28       0        6
545               NaN  149.99       2        3
764               NaN   62.58       2        6
...               ...     ...     ...      ...
3809              NaN   79.00       0        3
3813              NaN   94.80       2        4
3816              NaN   94.01       1        4
3822              NaN   79.00       0        3
3833              NaN   79.00       0        3

[109 rows x 4 columns]

In [28]:
# seeing the CLV of Nan values in "minutes_watched" column
df[filt].loc[:,"CLV"].mean()

np.float64(132.73614678899082)

- the only column contains Nan values is column "minutes_watched" 
- there are some values that have a big CLV
- so I suspect that the Nan values are not zeros , they are just not provided
- the strategy is to replace the Nan values with a proper value
- the best way is to replace Nan values with find the crossponding median to it's segment
    - segment the data (group by) by region and  channel then find the median

In [1]:
df.columns

NameError: name 'df' is not defined

In [ ]:
df.groupby(by= ["reg")